*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container nav{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    margin-top:40px;
    gap:10px;
    max-width: 720px;
    width:100%;
    justify-content: space-between;
}

.nav .btn{
    background-color: #fdcf0a;
    color:#fff;
    font-weight: bold;
    padding:10px 40px;
    border: none;
    outline:none;
    border-radius:5px;;cursor:pointer;
}
.nav .btn.active{
    background-color:#1b54a3;
    transition: all 0.5s ease;
  
}
.service-item{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding:40px 80px 80px 80px;
}

.product-item{
    width:calc(100%/5);
    margin:20px auto;
    transition: all .5s ease;
    align-items: center;
    background-color: #33333309;
    padding:1px;
    border-radius: 3px;;
   
}

.product-item.hide{
    display: none;
}
.product-item.show{
 animation: animate 0.5s ease;
}

@keyframes animate{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}
.product-item span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.product-item img{
    width:100%;
    vertical-align: middle;
}
.product-item:hover{
    transform: scale(1.1);
}
 
.item-list{
    text-align: center;
    padding:10px;
}
 
@media (max-width : 1010px){
    .product-item{
        width:calc(100%/4);
   
    }
  
}

@media (max-width : 800px){
    .product-item{
        width:calc(100%/3);
   
    }
     
}

@media (max-width : 750px){
    .product-item{
        width:calc(100%/2);
       
    }
    .nav{
        
        max-width: 700px;    
        gap:5px;
    }
    
    .nav .btn{
        padding:7px 10px;    margin:20px;
  
    }
}

@media (max-width : 600px){
    .product-item{
        width:100%;
       
    }

    .nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .nav .btn{
        margin:10px;
        
    }


     
}
